@page "/"
@page "/anagrams"

<PageTitle>Anagrams - Hermes</PageTitle>

@using Hermes.Core.Anagrams.Services
@using Hermes.Host.Web.Anagrams.Widgets
@inject IAnagramService _anagramService

<div class="px-6 py-2">
    <MudText Typo="Typo.h6">Anagrams</MudText>
</div>

<MudDivider />

<MudContainer>
    <MudTextField @bind-Value="@_input"
                    Clearable="true"
                    HelperText="enter text to retrieve anagrams"
                    Variant="Variant.Text"
                    OnKeyUp="OnSearchSubmit"
                    Adornment="Adornment.End"
                    AdornmentIcon="@SearchButtonIcon"
                    OnAdornmentClick="@OnSearchClick"
                    OnClearButtonClick="OnSearchClear"/>
    
    <AnagramHead Text="@_input" Total="@_total"/>
    <AnagramList Anagrams="@_anagrams"/>
</MudContainer>

@code {

    private string? _input;
    private int _total = 0;
    private IEnumerable<string>? _anagrams;

    private string SearchButtonIcon = Icons.Material.Filled.Search;

    private void OnSearchClear()
    {
        _input = string.Empty;
        _total = 0;
        _anagrams = null;
    }

    private void OnSearchClick(MouseEventArgs e)
    {
        if (string.IsNullOrEmpty(_input))
        {
            this.OnSearchClear();
            return;
        }

        // retrieve anagrams
        this.GetAnagrams(_input);
    }

    private void OnSearchSubmit(KeyboardEventArgs e)
    {
        if (e.Code != "Enter")
            return;
        
        if (string.IsNullOrEmpty(_input))
        {
            this.OnSearchClear();
            return;
        }

        // retrieve anagrams
        this.GetAnagrams(_input);
    }

    private void GetAnagrams(string text)
    {
        if (string.IsNullOrEmpty(text))
            return;
        
        var min = 3;
        var max = text.Length;

        var anagrams = _anagramService.GetAnagrams(text, min, max).ToArray();

        _anagrams = anagrams;
        _input = text.ToLower();
        _total = anagrams.Length;
    }

}